@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

  @* ! Hide app brand if navbar-full *@
  <div
    class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
   

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Full version menu-items *@
  <ul class="menu-inner py-1">
    <!-- Dashboards -->
    <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards/") ? " active open" : "")'>
            <a asp-controller="Dashboards" asp-action="Index" class="menu-link">
        <i class="menu-icon tf-icons bx bx-home-smile"></i>
        <div class="text-truncate" data-i18n="Dashboards">Dashboards</div>
        
      </a>
            <a asp-controller="Branches" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-collection"></i>
                <div>Branches</div>
            </a>

            <a asp-controller="Products" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-grid"></i>
                <div>Products</div>
            </a>

            <a asp-controller="Inventories" asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-grid"></i>
                <div>Inventories</div>
            </a>
           
  
    </li>

    
  </ul>

</aside>
<!-- / Menu -->
